/** {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}*/
html {
    
}

body {
  background-image: url(./images/BackgroundMobile.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 105%;
  background-color: #e0e8ff;
  background-position: top;
}

h1 {
    font-family: 'Staatliches', cursive;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    text-align: left;
    font-weight: 700;

}
a{
    font-family: 'Staatliches', cursive;
}

.navtitle {
  width: 95%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 4px 4px 10px rgb(45, 103, 226);
  border-radius: 1rem;


}

.border {
  border-radius: 1rem;
}

#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  
}

#form p {
  text-align: center;
}

#form label {
  font-size: 30px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

.btnenviar {
    width: 10rem;
    float: right;

}

.container{
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
    height: 480px;
    border-radius: 1rem;
    -webkit-box-shadow: 4px 4px 10px rgb(45, 103, 226);
}

footer div {
    border-radius: 1rem;
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto
}