.pelicula{
    width: 300px;
    height:350px;
    border:1px solid blue;
    margin: .2em;
    padding: .2em;
}
.iconohearth{
    color:red;
}
.pie{
    height: 5%;
}
.clasificacion{
    color: white;
    text-align: center;
}
.resumen{
    text-align: justify;
    font-size:medium;
    color:rgb(242, 242, 248);
}
.elenco{
border-bottom:1px solid red;
align-items: center;
margin-bottom: 1px;
padding: 2px;
background-color:black;
color: blanchedalmond;
border-radius: 15px;
}
.titmodal{
    text-align: center;
    align-items: center;
    text-transform: uppercase;
}
.modalr{
    background: -webkit-linear-gradient(rgba(76, 148, 236, 0.94),rgba(181, 221, 5, 0.95)),url(../img/fondopelis.jpg);
    color:rgb(242, 242, 248);
}
.bs-example{
    margin: 20px;
}
.modal-dialog {
    max-width: 700px;
}